
.section {
  color: #fff;
  font-size: 50px;
  display: block;
  justify-content: center;
}

@media (min-width: 900px){
  section{
    width: 700px;
  }

  .section{
    display:flex;
  }

  .brief{
    min-width:350px;
  }
}