.brief-about{
  background-color:rgba(255, 255, 255, .7);
  color: black;
  width: 270px;
  padding: 20px;
  margin: auto;
  display: flex;
  margin-top:20px;
}

.brief-about h1{
  font-family: "Reenie Beanie",arial,sans-serif;
  font-size:70px;
}

.brief-about p{
  font-size: 20px;
  line-height: 1.5;
  font-family: "Gloria Hallelujah",arial,sans-serif;
  padding:20px;
  text-shadow: black .5px .5px 0px;
}

@media(min-width: 350px){
  .brief-about{
    width: 300px;
  }
}

@media(min-width: 500px){

  .brief-about{
    width: 400px;
  }
}

@media(min-width: 900px){
  .brief-about{
    width:550px;
  }
}

@media(min-width:950px){
  .brief-about{
    margin:0;
  }
}