.login-form.blurb{
  flex: none;
}

.login-form h2{
  padding-top:20px;
}

.login-form label{
  font-size:16px;
}

.login-form a{
  outline: 0;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-family: 'Gloria Hallelujah';
  font-size:14px;
  font-weight: 700;
}

.login-form a:hover, .login-form a:focus{
  background-color: black;
  color: white;
}