.login-form.blurb{
  flex: none;
}

.login-form h2{
  padding-top:20px;
}

.login-form label{
  font-size:16px;
}

.login-form h5{
  font-family: 'Gloria Hallelujah';
  font-size:14px;
  padding:10px;
}

.login-form a{
  cursor: pointer;
  text-shadow: 0px 1px black;
}

.login-form a:hover, .login-form a:focus{
  text-decoration: underline;
}

.login-form .form-error{
  position: static;
  width:fit-content;
  margin:auto;
  background-color:transparent;
  font-weight: bold;
}

@media(min-width:500px){
  .form .form-input{
    width: 420px;
  }

  .blurb{
    width:450px;
  }
}