a{
  text-decoration: none;
  color: black;
}

.home article.blurb{
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  flex: 1;
}

.home article.blurb:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

.home article.blurb::before {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}

.home article.blurb:nth-child(even)::before {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

.prof-pic{
  width: 150px;
  height:150px;
  border: 3px solid black;
  margin:auto;
  margin-top:10px;
  border-radius: 100px;
  background-color: black;
  display:block;
}

.option-icons{
  position: absolute;
  top: 12px;
  left: 65%;
  width: 80px;
}

.option-icons button, .option-icons button:focus{
  background-color: transparent;
  border: none;
  outline:0;
  font-size:15px;
}

.option-icons i{
  margin: 5px;
}

.option-icons i:hover, .option-icons i:focus, .option-icons button:hover, .option-icons button:focus{
  text-shadow: white 2px 2px 2px;
  cursor: pointer;
}

.view-pawfile{
  display: inline-block;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px;
  margin-top:10px;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 25px;
  text-shadow: black 1px 1px 0px;
}

.view-pawfile:hover, .view-pawfile:focus{
  outline: 0;
  cursor: pointer;
  background-color: black;
  color: white;
}

.edit-span{
  position: absolute;
  left: 14px;
  top: -26px;
  opacity:0;
  background-color:white;
  padding:3px;
}

.delete-span{
  position: absolute;
  left: 32px;
  top: -26px;
  opacity:0;
  background-color:white;
  padding: 3px;
}

.edit-button:hover + .edit-span, .edit-button:focus + .edit-span, .delete-button:hover + .delete-span, .delete-button:focus + .delete-span{
  opacity:1;
}

@media(min-width: 350px){
  .option-icons{
    left:73%;
  }
}

@media(min-width: 500px){
  .option-icons{
    left:83%;
  }
}