a{
  text-decoration: none;
  color: black;
}

.blurb .name:hover .text-shadow, .blurb .name:focus .text-shadow {
  text-shadow: 1px 1px white;
}

.home article.blurb{
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg); 
  flex: 1;
}

.home article.blurb:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

.home article.blurb::before {
  -webkit-transform: rotate(-4deg);
  -moz-transform: rotate(-4deg);
  -o-transform: rotate(-4deg);
}

.home article.blurb:nth-child(even)::before {
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}

.prof-pic{
  width: 150px;
  height:150px;
  border: 3px solid black;
  margin:auto;
  margin-top:10px;
  border-radius: 100px;
  background-color: black;
  display:block;
}
.top{
  height:170px;
}
.view-pawfile{
  display: inline-block;
  background-color: transparent;
  border: 2px solid black;
  padding: 10px;
  margin-top:10px;
  font-family:"Reenie Beanie",arial,sans-serif;
  font-size: 25px;
  text-shadow: black 1px 1px 0px;
}

.view-pawfile:hover, .view-pawfile:focus{
  outline: 0;
  cursor: pointer;
  background-color: black;
  color: white;
}

.home .edit-span{
  left: 14px;
  top: -20px;
}

.home .delete-span{
  left: 32px;
  top: -20px;
}

.edit-button:hover + .edit-span, .edit-button:focus + .edit-span, .delete-button:hover + .delete-span, .delete-button:focus + .delete-span{
  opacity:1;
}

@media(min-width: 350px){
  .option-icons{
    left:73%;
  }
}

@media(min-width: 500px){
  .option-icons{
    left:83%;
  }
}