/* .upload-photo-form .form input{
  border-bottom: transparent;
} */

.upload-photo-form .form-input{
  width: 250px;
}

.upload-photo-form label{
  flex:0;
}

.upload-photo-form .form-error{
  top:110%;
}