.mem .form{
  color: black;
  padding: 0;
  background-color: white;
  margin: 130px auto;
  border: 3px solid lightgreen;
  width: 75%;
  position: relative;
}

.post-heading{
  font-size: 20px;
  text-align: center;
  font-family: "Kalam",arial,sans-serif;
}
