.memory{
  border: 3px solid lightgreen;
  position: relative;
}

.memory.post{
  display: flex;
  flex-direction: column;
}

.memory .all-post-info{
  flex:3;
  padding-right: 20px;
}

@media(min-width:600px){
  .memory.post{
    display: flex;
    flex-direction: row;
  }
}
