.memory{
  border: 3px solid lightgreen;
  position: relative;
}

.memory.post{
  display: flex;
  flex-direction: column;
}

.memory .all-post-info{
  flex:3;
  padding-right: 20px;
}

.memory .option-icons i:hover, .memory .option-icons i:focus, .memory  .option-icons button:hover, .memory  .option-icons button:focus{
  text-shadow: lightgreen 2px 2px 2px;
  cursor: pointer;
}

@media(min-width:600px){
  .memory.post{
    display: flex;
    flex-direction: row;
  }
}
