.onboarding-form h2{
  padding-top:20px;
}

.onboarding-form label{
  font-size:16px;
}

.onboarding-form h5{
  font-family: 'Gloria Hallelujah';
  font-size:14px;
  padding:10px;
}

.onboarding-form a{
  cursor: pointer;
  text-shadow: 0px 1px black;
}

.onboarding-form a:hover, .onboarding-form a:focus{
  text-decoration: underline;
}

.onboarding-form .form-error{
  position: static;
  width:fit-content;
  margin:auto;
  background-color:transparent;
  font-weight: bold;
}
/*General errors*/

.onboarding-form label .form-error{
  position: absolute;
} 
/* these are errors for specific fields */

.onboarding-form #first-paw-animation, .onboarding-form #second-paw-animation{
  width:60px;
  height:30px;
  padding-top:5px;
  padding-bottom:5px;
}

.onboarding-form main.loading-animation{
  height:auto;
  padding-top:0;
}