.blurb.reminders{
  padding:0;
}

.reminders h2{
  padding-top: 20px;
}

.reminders-list{
  list-style: none;
}

.new-reminder-form{
  position: relative;
  padding:0;
  display: block;
  padding-bottom:5px;
}

.new-reminder-form input{
  background-color: transparent;
  border: transparent;
  padding:5px;
}

.new-reminder-form .reminder-note{
  margin-left:10px;
}

.new-reminder-form input:hover, .new-reminder-form input:focus, .more-options-button:hover, .more-options-button:focus{
  outline:0;
}

.more-options-button:hover, .more-options-button:focus{
  background-color:white;
  cursor: pointer;
}

.more-options-button{
  font-size:10px;
  border: none;
  font-weight: bold;
  background-color: transparent;
}

.more-options{
  position: absolute;
  top: -25px;
  background-color: white;
}

.add-reminder{
  margin-left: 15px;
  padding: 2px;
  background-color: black;
  color: white;
  display: block;
  margin-bottom:5px;
}

